# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore virtual environment directories
venv/
env/

# Ignore package files
*.egg-info/
*.egg
*.whl

# Ignore build directories
build/
dist/

# Ignore output files
output/

# Ignore test results
*.pytest_cache/
*.coverage
.coverage.*

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore data files
data/*

# Ignore video files
video/*

# Ignore instructions
instructions.md